
*.dll
*.pdb
Entrance Trains/bin/Debug/ScriptHookVDotNet3.xml
Entrance Trains/bin/Release/ScriptHookVDotNet3.xml
*.cache
*.CopyComplete
Entrance Trains/obj/Debug/Entrance Trains.csproj.FileListAbsolute.txt
Entrance Trains/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Entrance Trains/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Entrance Trains/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Entrance Trains/obj/Release/Entrance Trains.csproj.FileListAbsolute.txt
Entrance Trains/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Entrance Trains/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Entrance Trains/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Entrance Trains/Properties/AssemblyInfo.cs
.vs/Entrance Trains/v15/.suo
.vs/Entrance Trains/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.rar
*.ide-wal
